/* Basic CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 100%; /* Set default font size to 16px */
  line-height: 1.5;
}

body {
  -webkit-font-smoothing: antialiased; /* Improves text rendering */
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit; /* Ensures inputs and buttons use the same font */
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* Styling */

.container {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #273549;
}

.main {
  background-color: #ecfdf4;
  padding: 300px 100px;
  margin: 0 300px;
}

.button-container {
  margin-top: 50px;
  margin-bottom: 40px;
}

hr {
  border: 0.25px solid #d5d4d8;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #10b981;
  color: #fff;
  cursor: pointer;
}

.outputs {
  display: flex;
  margin-top: 40px;
  gap: 30px;
  justify-content: center;
}

.output1,
.output2 {
  display: flex;
  flex-direction: row;
  background-color: #273549;
  color: #5def92;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  width: 50%;
}
